<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Index</title>
  </head>
  <body>
    <h1>Baked Goods</h1>
    <% for (let i = 0; i < bakedGoods.length; i += 1) { %>
    <li><a href="/bakedgoods/<%=i%>"><%= bakedGoods[i].name %></a></li>
    <% } %>
  </body>
</html>
