body {
  font-family: Helvetica, sans-serif;
}

#container {
  height: 600px;
  width: 400px;
  text-align: center;
  border-radius: 15px;
  margin: 0 auto;
  border: 1px solid black;
}

#answer {
  width: 90%;
  border: 1px solid orange;
  display: block;
  text-align: right;
  padding: 15px;
  border-radius: 10px;
}

.button {
  border: 1px solid orange;
  width: 60px;
  height: 60px;
  font-size: 48px;
  border-radius: 50%;
  text-align: center;
  padding-top: 4px;
  cursor: pointer;
}

.button:hover {
  background-color: black;
  color: orange;
}

.button:active {
  background-color: yellow;
  color: orange;
  border-color: orange;
}

#numbers {
  display: flex;
  flex-flow: row, wrap;
  justify-content: space-around;
  width: 250px;
  padding-left: 20px;
  padding-top: 20px;
}
