$font-stack: Helvetica;
$primary-color: #333;

body {
  font: 100% helvetica;
}

.calc {
  padding-top: 10px;
  padding-bottom: 25px;
  border: 1px solid blue;
  width: 500px;
  height: 500px;

  .answer {
    border: 1px solid black;
    width: 400px;
    height: 75px;
    margin: 0 auto;
  }

  .numbers {
    border: 1px solid blue;
    width: 350px;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 25px;
    font-size: 36px;

    h4 {
      border: 1px solid yellow;
      border-radius: 100px;
    }
  }
}
