<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Fruits Index Page</h1>
    <ul>
      <li><a href="http://localhost:3000/fruits/0">Apple Page</a></li>
      <li><a href="http://localhost:3000/fruits/1">Pear Page</a></li>
      <li><a href="http://localhost:3000/fruits/2">Banana Page</a></li>
    </ul>
  </body>
</html>
