<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Capitan Logs</h1>
    <ul>
      <% for(let i = 0; i < logs.length; i++) { %>
      <li>
        <a href="/logs/<%= logs[i].id%> "><%= logs[i].title %></a>
      </li>
      <% } %>
    </ul>
    <a href="/logs/new">Create New Log</a>
  </body>
</html>
