<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="/logs" method="POST">
      Title: <input type="texte" name="title" /> <br />
      Entry: <input type="text" name="entry" /> <br />
      Ship is broken: <input type="checkbox" name="shipIsBroken" /> <br />
      <input type="submit" name="" value="Create Log Entry" />
    </form>
  </body>
</html>
